<div class="widget ad" style="padding:10px 0 10px 12px;" _mce_style="padding: 10px 0 10px 12px;" id="subscribe">
    <div class="banner aside big" style="width:376px;min-height: auto;" _mce_style="width: 376px; min-height: auto;">
        <h2 style="text-align: center;" _mce_style="text-align: center;">{$aPhrases['Learn first']}</h2>
        <h3 style="text-align: center;" _mce_style="text-align: center;">{$aPhrases['We will inform you about the launch of the service']}</h3>
        <form action="/{$aLanguage.alias}/#subscribe" method="POST" class="profile-header" style="padding:0px;padding-bottom: 20px;" _mce_style="padding: 0px; padding-bottom: 20px;">
            <input type="hidden" name="act" value="subscribe">
            <div class="profile-data" style="margin-left:10px;" _mce_style="margin-left: 10px;">
                {if $aErrors}<span class="info"><ul class="errorlist">{foreach from=$aErrors item=sError}<li>{$sError}</li>{/foreach}</ul></span>{/if}
                {if $aSessErr}{literal}{/literal}<span class="info"><ul class="help-text">{foreach from=$aSessErr item=sError}<li>{$sError}</li>{/foreach}</ul></span>{/if}
                <div>
                    <label for="id_name">{$aPhrases['Name']}<span class="required">*</span></label>
				<span class="offset"><input type="text" name="aUser[fname]" maxlength="100" id="id_name" value="{$aSubscribe.fname}">

				</span>
                </div>
                <div>
                    <label for="id_email">{$aPhrases['Email']}<span class="required">*</span></label>
				<span class="offset" id="id_email"><input id="id_email" maxlength="100" name="aUser[email]" type="text" value="{$aSubscribe.email}">
					<span class="info"></span>
				</span>
                </div>
            </div>
            <footer>
                <input type="submit" value="{$aPhrases['Subscribe']}" class="button big">
            </footer>
        </form>
    </div>
</div>