<script  type="text/javascript" src="/design/js/webcam.js"></script>
<div class="container content">
    <div class="row basket-edit basket-vertsep">
        <div class="col-lg-3 col-md-3 col-sm-2">
            <a href="/{$aLanguage.alias}/shopper/meetings/" class="green-link back-to-cabinet">Отмена</a>
            <div class="meeting-time">
                {$aPurchase.time_from|date_format:'%d.%m'}
            </div>
            <div class="meeting-period">
                {$aPurchase.time_from|date_format:'%H:%M'}—{$aPurchase.time_to|date_format:'%H:%M'}
            </div>
            <div class="client-info">
                <div class="client-photo">
                    <img src="{if $aPurchase.image}/images/account/{$aPurchase.image}{else}/design/pic/noimage.png{/if}" />
                </div>
                <div class="client-name">
                    {$aPurchase.fname}
                </div>
            </div>
            <div class="meeting-info">
                <div class="description">
                    <div class="shop-name">{$aPurchase.shop_title}</div>
                    {$aPurchase.description}
                </div>
            </div>
            <div class="buttons">
                <a href="/{$aLanguage.alias}/shopper/meetings/" id="submit-basket" class="btn btn-green btn-sm">Отправить</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-4">
            <form method="post" action="" class="form-standart">
                <div class="inputs" style="    margin-top: 18px;">
                    <div class="input">
                        <label for="inBrand" style="width: auto;text-align: left;">Коробка</label>
                        <div class="select">
                            <select id="inBox" name="box">
                                <option value="0">не выбрана</option>{html_options options=$aBoxes selected=$aPurchase.box_id}
                            </select>
                        </div>
                    </div>
                </div>
            </form>

            <div id="basket-content-wrapper">
                <div class="search-input">
                    <input type="text" id="brand-input2" name="brand" value="" placeholder="Название бренда">
                </div>
                <div class="search-result cart-content" id="search-result"></div>
                <div class="cart-content cart-content-main">
                    {if !$aProducts}
                    <div class="basket-empty">Корзина пуста</div>
                    {else}
                    {foreach from=$aProducts item=aItem}
                    <div class="cart-item" data-id="{$aItem.product_id}" data-name="{$aItem.product}">
                        {if $aItem.image}
                        <div class="cart-item-image">
                            <img src="{if $aItem.image}/images/product/{$aItem.image}{else}/design/pic/noimage171.png{/if}" />
                        </div>
                        {/if}
                            <div class="cart-item-info">
                                <div>{$aItem.product}</div>
                                <div>{$aItem.color}</div>
                                <div>{$aItem.brand}</div>
                                <div class="cart-item-price">
                                    <span>{$aItem.amount|intval} шт.</span>&nbsp;{$aItem.price} {$aItem.sign}</div>
                                </div>
                        <div class="cart-item-delete"> <a href="#" class="cart-item-delete-link" data-product="{$aItem.product_id}"><img src="/design/pic/cart-item-delete-icon.png"></a>
                        </div>
                    </div>
                    {/foreach}
                    {/if}
                </div>
                <button class="btn btn-green-white basket-new-good"><span>+</span>&nbsp;Создать новый товар <strong></strong></button>

            </div>
            <div id="new-good-form">
                {literal}
                <script>
                    var webcamApp = null;
                    function takeSnapshot() {
                        if (!webcamApp) {
                            webcamApp = Webcam.set({
                                width: 320,
                                height: 240,
                                image_format: 'jpeg',
                                jpeg_quality: 90
                            });
                            Webcam.attach( '#my_camera' );
                        }
                        // take snapshot and get image data
                        Webcam.snap( function(data_uri) {
                            // display results in page
                            document.getElementById('my_camera_results').innerHTML =
                                    '<img src="'+data_uri+'"/>';
                            $('#photo').val(data_uri);
                        } );
                        return false;
                    }
                </script>
                {/literal}
                <form method="post" target="postiframe" enctype="multipart/form-data" id="productform" action="" class="form-standart">
                    <input type="hidden" name="act" value="newproduct">
                    <div id="my_camera"></div>
                    <div id="my_camera_results"></div>
                    <!--<a href="#" class="btn btn-green-white new-photo-button"  onClick="return takeSnapshot()">Сделать фото</a>-->
                    <div class="inputs">
                        <div class="input">
                            <label for="inName">Фото</label>
                            <input type="file" name="photo" />
                        </div>
                        <div class="input">
                            <label for="inName">Название</label>
                            <input id="inName" type="text" name="name" value="" />
                        </div>
                        <div class="input">
                            <label for="inBrand">Брэнд</label>
                            <div class="select">
                                <select id="inBrand" name="brand">
                                    {html_options options=$aBrands}
                                </select>
                            </div>
                        </div>
                        <div class="input">
                            <label for="inColor">Цвет</label>
                            <input id="inColor" type="text" name="color" value="" />
                        </div>
                        <div class="input">
                            <label for="inArticle">Артикул</label>
                            <input id="inArticle" type="text" name="article" value="" />
                        </div>
                        <div class="input">
                            <label for="inPrice">Цена</label>
                            <input id="inPrice" type="text" name="price" value="" />
                        </div>
                    </div>
                    <button class="btn btn-green basket-new-good-save" ><span>+</span>&nbsp;Сохранить товар</button>
                </form>
                <iframe name="postiframe" id="postiframe" style="display: none"></iframe>
            </div>
        </div>
    </div>
</div>

{literal}
<script id="cart-item-deleted" type="text/x-jquery-tmpl">
    <div>
        ${name} удален
        <a href="#" class="cart-item-restore">Восстановить</a>
    </div>
</script>
<script id="cart-item" type="text/x-jquery-tmpl">
    <div class="cart-item" data-name="${name}">
        <div class="cart-item-image">
            <img src="{{if $item.data.img}}/images/product/${img}{{else}}/design/pic/noimage171.png{{/if}}" />
        </div>
        <div class="cart-item-info">
            <div>${name}</div>
            <div>${color}</div>
            <div>${brand}</div>
            <div class="cart-item-price">
                <span>1 шт.</span>&nbsp;${price} ${sign}
            </div>
        </div>
        <div class="cart-item-delete">
            <a href="#" class="cart-item-delete-link">
                <img src="/design/pic/cart-item-delete-icon.png" />
            </a>
        </div>
    </div>
</script>
<script id="cart-item-search" type="text/x-jquery-tmpl">
    <div class="cart-item" data-name="${name}" style="opacity: 0;">
        <div class="cart-item-image">
            <img src="{{if $item.data.img}}/images/product/${img}{{else}}/design/pic/noimage171.png{{/if}}" />
        </div>
        <div class="cart-item-info">
            <div>${name}</div>
            {{if $item.data.color}}<div>${color}</div>{{/if}}
            {{if $item.data.brand}}<div>${brand}</div>{{/if}}
            <div class="cart-item-price">
                <span>1 шт.</span>&nbsp;${price} $
            </div>
        </div>
        <div class="cart-item-delete">
            <a href="#" class="cart-item-add-link" data-item-info="${brand};;${name};;${img};;${color};;${price};;${id}">
                <i>+</i>
            </a>
        </div>
    </div>
</script>
<script id="cart-item-search-empty" type="text/x-jquery-tmpl">
    <div class="cart-item-empty">
        К сожалению такого товара еще нет в каталоге.
    </div>
</script>
{/literal}