<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {if $aPage.meta_title}<title>{$aPage.meta_title}</title>{else}<title>{$sTitle}</title> {/if}
    {if $aPage.meta_keys}<meta name="keywords" content="{$aPage.meta_keys}" /> {/if}
    {if $aPage.meta_desc}<meta name="description" content="{$aPage.meta_desc}" /> {/if}
    <link rel="stylesheet" href='/design/css/main.css' type='text/css'/>
    <link rel="stylesheet" href='/design/css/clock.css' type='text/css'/>
    <script src="/design/js/vendor/jquery.min.js"></script>
    <script src="/design/js/vendor/jquery.cycle.min.js"></script>
    <script src="/design/js/main.js"></script>
    <script src="/design/js/moment.js"></script>
    <script src="/design/js/moment-timezone-with-data.min.js"></script>
</head>
<body>
<div class="header-gap"></div>

<div class="container container-no-padding" id="slider-container">
    <div id='pager' class="hidden-sm">
        <div id='pages'></div>
    </div>
    <div class="slides" id="slides-container">
        <div class="slide" style="background-image: url('/design/pic/slider_gap.jpg');">
            <div class="row slide-info">
                <div class="col-sm-3 col-md-5 col-lg-7">
                    <div class="info-title">Galeries Lafayette</div>
                    <div class="info-text">
                        Пространстве магазинов "Galeries Lafayettе" представлена исчерпывающая гамма коллекций предметов роскоши, - от часов и ювелирных украшений, одежды, обуви и аксессуаров класса Люкс (для женщин, мужчин,

                        подростков и детей), - до завораживающих своей красотой и качеством предметов для дома от известных мировых Домов моды и дизайна. Такое богатство и
                        «Galeries Lafayettе». Среди «Больших магазинов» "Galeries Lafayettе" исторически
                        занимает лидирующие позиции. Его репутация неприкосновенна, а прошлое «за
                        давностью лет» окутано флером таинственных историй и ярких событий,
                        запоминающих и волнующих воображение. О них Вы узнаете позже.

                        Для представителей мировых элит "Galeries Lafayettе" был единственным

                        магазином в Париже, обязательным для посещения. За ним тянутся

                        многочисленные легенды и истории, подобные шлейфу дорогих духов, который

                        никогда не исчезает окончательно, а лишь приобретает различные оттенки и

                        звучания, превращаясь из сандалового дерева то в розу, то в фиалку, меняя свой

                        характер в зависимости от времени суток и обстоятельств, но, между тем,

                        оставляет за собой право на решающий аккорд.
                    </div>
                </div>
                <div class="col-sm-3 col-md-5 col-md-7 links">
                    <a href="#" class="btn btn-green">Заказать митинг</a>
                    <a href="#" class="btn btn-white">Заказать видео</a>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image: url('/design/pic/slider_gap_2.jpg');">
            <div class="row slide-info">
                <div class="col-sm-3 col-md-5 col-lg-7">
                    <div class="info-title">Galeries Lafayette</div>
                    <div class="info-text">
                        Пространстве магазинов "Galeries Lafayettе" представлена исчерпывающая гамма коллекций предметов роскоши, - от часов и ювелирных украшений, одежды, обуви и аксессуаров класса Люкс (для женщин, мужчин,

                        подростков и детей), - до завораживающих своей красотой и качеством предметов для дома от известных мировых Домов моды и дизайна. Такое богатство и
                        «Galeries Lafayettе». Среди «Больших магазинов» "Galeries Lafayettе" исторически
                        занимает лидирующие позиции. Его репутация неприкосновенна, а прошлое «за
                        давностью лет» окутано флером таинственных историй и ярких событий,
                        запоминающих и волнующих воображение. О них Вы узнаете позже.

                        Для представителей мировых элит "Galeries Lafayettе" был единственным

                        магазином в Париже, обязательным для посещения. За ним тянутся

                        многочисленные легенды и истории, подобные шлейфу дорогих духов, который

                        никогда не исчезает окончательно, а лишь приобретает различные оттенки и

                        звучания, превращаясь из сандалового дерева то в розу, то в фиалку, меняя свой

                        характер в зависимости от времени суток и обстоятельств, но, между тем,

                        оставляет за собой право на решающий аккорд.
                    </div>
                </div>
                <div class="col-sm-3 col-md-5 col-md-7 links">
                    <a href="#" class="btn btn-green">Заказать митинг</a>
                    <a href="#" class="btn btn-white">Заказать видео</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-gradient-overlay"></div>
</div>

<div class="container header">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-2 logo">
            <a href="#"><img src="/design/pic/logo.png" /></a>
        </div>
        <div class="hidden-sm col-md-3 col-lg-3 text-right main-menu">
            <a href="/{$aLanguage.alias}/page/shops/">{$aPhrases['Shops']}</a>
            <a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-2"></div>
        <div class="hidden-sm col-md-2 col-lg-2">
            <span class="clock"><span class="city">{$aPhrases['London']}</span></span>&nbsp;&nbsp;<span class="clock"><span class="city">{$aPhrases['Paris']}</span></span>
            <!--<img src="/design/pic/clock-gap-1.png" />&nbsp;&nbsp;<img src="/design/pic/clock-gap-2.png" />-->
        </div>
        <div class="col-sm-3 col-md-2 col-lg-3 personal-links text-right">
            <a href="/{$aLanguage.alias}/register/">{$aPhrases['Register']}</a>&nbsp;
            <span class="sep"></span>&nbsp;
            <a href="/{$aLanguage.alias}/login/">{$aPhrases['Login']}</a>
            <div class="visible-sm">
                <a href="#" class="menu-activator"><img src="/design/pic/small-menu-icon.png" /></a>
                <a href="#" class="close-menu"><img src="/design/pic/menu-close-icon.png" /></a>
            </div>
        </div>
    </div>
</div>
{include file=$sTplName}
<div class="container footer">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-4">
            <div class="footer-logo"><a href="#"><img src="/design/pic/logo.png" /></a></div>
            <div>{$aPhrases['Copyright']}</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-4">
            <div class="section-title">{$aPhrases['Information']}</div>
            <ul>
                <li><a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/faq/">{$aPhrases['FAQ']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/terms/">{$aPhrases['Terms of use']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/contacts/">{$aPhrases['Contacts']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/partners/">{$aPhrases['Partners']}</a><li>
                <li>
                {foreach from=$aLanguages item=aItem}
                <a href="/{$aItem.alias}{$REQUEST_URI}" {if $aItem.alias==$aLanguage.alias}style="font-size: 18px;"{/if} class="user-zone-link sign-in-link"><span>{$aItem.title}</span></a><br>
                {/foreach}<li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-4">
            <div class="section-title">{$aPhrases['Social networks']}</div>
            <ul>
                <li><a href="https://www.facebook.com/libereyeinc"><img src="/design/pic/sn_icon_fb.png" />&nbsp;Facebook</a></li>
                <li><a href="https://twitter.com/LiberEye"><img src="/design/pic/sn_icon_tw.png" />&nbsp;Twitter</a></li>
                <li><a href="https://plus.google.com/u/2/107563083501217320391/about"><img src="/design/pic/sn_icon_gp.png" />&nbsp;Google+</a></li>
                <li><a href="https://instagram.com/libereye_inc/"><img src="/design/pic/sn_icon_inst.png" />&nbsp;Instagram</a></li>
                <li><a href="http://vk.com/libereyeinc"><img src="/design/pic/sn_icon_vk.png" />&nbsp;Vkontakte</a></li>
                <li><a href="https://www.linkedin.com/company/libereye"><img src="/design/pic/sn_icon_lin.png" />&nbsp;LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container footer-bottom">
    <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-6 copyright">
            {$aPhrases['All Rights Reserved']}
        </div>
        <div class="col-sm-3 col-md-5 col-lg-6 text-right">
            <a href="/admin/">{$aPhrases['Service entrance']}</a>
        </div>
    </div>
</div>
</body>
</html>