<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {if $aPage.meta_title}<title>{$aPage.meta_title}</title>{else}<title>{$sTitle}</title>{/if}
    {if $aPage.meta_keys}<meta name="keywords" content="{$aPage.meta_keys}" /> {/if}
    {if $aPage.meta_desc}<meta name="description" content="{$aPage.meta_desc}" /> {/if}

    {if $aPage.uri=='main'}
    <link rel="stylesheet" href='/design/css/main.css' type='text/css'/>
    {else}
    <link rel="stylesheet" href='/design/css/pages.css' type='text/css'/>
    {/if}
    <link rel="stylesheet" href='/design/css/common.css' type='text/css'/>
    <link rel="stylesheet" href='/design/css/clock.css' type='text/css'/>

    <script>
        LANGUAGE = '{$aLanguage.alias}'; LOGGEDIN = {if $aAccount.account_id}true{else}false{/if};
        apiConfigJson = {$apiConfigJson};
        PHRASES = {$aPhrasesJson};
    </script>
    <script src="/design/js/vendor/jquery.min.js"></script>
    <script src="/design/js/vendor/jquery.cycle.min.js"></script>
    <script src="/design/js/vendor/jquery.mousewheel.js"></script>
    <script src="/design/js/vendor/jquery.peity.min.js"></script>
    <script src="/design/js/vendor/jquery.jscrollpane.min.js"></script>
    <script src="/design/js/vendor/jquery.tmpl.min.js"></script>
    <script src="/design/js/vendor/jquery.cookie.js"></script>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

    <script src="/design/js/main.js"></script>
    <script src="/design/js/moment.js"></script>
    <script src="/design/js/moment-timezone-with-data.js"></script>
    <script src="/design/js/common.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
</head>
<body>
<div class="header-gap"></div>

{if $aPage.uri=='main'}
    <div class="container container-no-padding" id="slider-container">
        <div id='pager' class="hidden-sm">
            <div id='pages'></div>
        </div>
        <div class="slides" id="slides-container">
            <div class="slide" style="background-image: url('/design/pic/slider_gap.jpg');">
                <div class="row slide-info">
                    <div class="col-sm-3 col-md-5 col-lg-7">
                        <div class="info-title">{$aShopLafayette.title}</div>
                        <div class="info-text">
                            {$aShopLafayette.description}
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-5 col-md-7 links">
                        <a href="/{$aLanguage.alias}/shop/1/" class="btn btn-green">{$aPhrases['Order meeting']}</a>
                        <a href="/{$aLanguage.alias}/shop/1/" class="btn btn-white">{$aPhrases['Order video']}</a>
                    </div>
                </div>
            </div>
            <div class="slide" style="background-image: url('/design/pic/slider_gap_2.jpg');">
                <div class="row slide-info">
                    <div class="col-sm-3 col-md-5 col-lg-7">
                        <div class="info-title">Galeries Lafayette</div>
                        <div class="info-text">
                            Пространстве магазинов "Galeries Lafayettе" представлена исчерпывающая гамма коллекций предметов роскоши, - от часов и ювелирных украшений, одежды, обуви и аксессуаров класса Люкс (для женщин, мужчин,

                            подростков и детей), - до завораживающих своей красотой и качеством предметов для дома от известных мировых Домов моды и дизайна. Такое богатство и
                            «Galeries Lafayettе». Среди «Больших магазинов» "Galeries Lafayettе" исторически
                            занимает лидирующие позиции. Его репутация неприкосновенна, а прошлое «за
                            давностью лет» окутано флером таинственных историй и ярких событий,
                            запоминающих и волнующих воображение. О них Вы узнаете позже.

                            Для представителей мировых элит "Galeries Lafayettе" был единственным

                            магазином в Париже, обязательным для посещения. За ним тянутся

                            многочисленные легенды и истории, подобные шлейфу дорогих духов, который

                            никогда не исчезает окончательно, а лишь приобретает различные оттенки и

                            звучания, превращаясь из сандалового дерева то в розу, то в фиалку, меняя свой

                            характер в зависимости от времени суток и обстоятельств, но, между тем,

                            оставляет за собой право на решающий аккорд.
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-5 col-md-7 links">
                        <a href="/{$aLanguage.alias}/shop/1/" class="btn btn-green">{$aPhrases['Order meeting']}</a>
                        <a href="/{$aLanguage.alias}/shop/1/" class="btn btn-white">{$aPhrases['Order video']}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-gradient-overlay"></div>
    </div>
    <div class="container header">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-2 logo">
            <a href="/"><img src="/design/pic/logo.png" /></a>
        </div>
        <div class="hidden-sm col-md-3 col-lg-3 text-right main-menu">
            <a href="/{$aLanguage.alias}/shop/1/">{$aPhrases['Shops']}</a>
            <a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-2"></div>
        <div class="hidden-sm col-md-2 col-lg-2">
            <span class="clock"><span class="city">{$aPhrases['London']}</span></span>&nbsp;&nbsp;<span class="clock"><span class="city">{$aPhrases['Paris']}</span></span>
            <!--<img src="/design/pic/clock-gap-1.png" />&nbsp;&nbsp;<img src="/design/pic/clock-gap-2.png" />-->
        </div>
        <div class="col-sm-3 col-md-2 col-lg-3 personal-links text-right">
            {if $aAccount.account_id}<a href="/{$aLanguage.alias}/account/profile/" class="profile">{$aAccount.fname}</a>&nbsp;<a href="/{$aLanguage.alias}/account/cart/70/" class="profile">Корзина</a>&nbsp;<span class="sep"></span>&nbsp;<a href="/{$aLanguage.alias}/account/logout/" class="profile">{$aPhrases['Logout']}</a>{else}<a href="#" class="registration-init">{$aPhrases['Register']}</a>&nbsp;<span class="sep"></span>&nbsp;<a href="#" class="login-init">{$aPhrases['Login']}</a>{/if}
            <div class="visible-sm">
                <a href="#" class="menu-activator"><img src="/design/pic/small-menu-icon.png" /></a>
                <a href="#" class="close-menu"><img src="/design/pic/menu-close-icon.png" /></a>
            </div>
        </div>
    </div>
</div>
{else}
    {if $aAccount.status == 'seller'}
    <div class="container header shopper-header">
        <div class="row">
            <div class="col-sm-3 col-md-4 col-lg-6 logo">
                <a href="#"><img src="/design/pic/logo_black.png" /></a>
                <div class="shopper-photo-header">
                    {if $aAccount.image}
                    <div class="shopper-photo">
                        <img src="/images/account/{$aAccount.image}" style="    width: 60px;" />
                    </div>
                    {/if}
                    <div class="shopper-name">
                        {$aAccount.fname}
                    </div>
                </div>
            </div>

            <div class="hidden col-md-3 col-lg-4 text-right main-menu">
                <a href="/{$aLanguage.alias}/shop/1/">{$aPhrases['Shops']}</a>
                <a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a>
            </div>
            <div class="col-sm-3 col-md-5 col-lg-6 personal-links text-right">
                <div class="text-links">
                    <a href="/{$aLanguage.alias}/shopper/meetings/" {if $sSect=='meetings'}class="active"{/if}><span>{$iSlotsCnt}</span>Митинги</a>&nbsp;
                    <a href="/{$aLanguage.alias}/account/profile/" {if $sSect=='profile'}class="active"{/if}>Настройки</a>
                </div>
                <div>
                    <a href="#" class="menu-activator"><img src="/design/pic/small-menu-icon_black.png" /></a>
                    <a href="#" class="close-menu">
                        <img class="hover" src="/design/pic/menu-close-icon.png" />
                        <img src="/design/pic/menu-close-icon_black.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    {else}
    <div class="container header">
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-2 logo">
            <a href="/"><img src="/design/pic/logo_black.png" /></a>
        </div>
        <div class="hidden-sm col-md-3 col-lg-3 text-right main-menu">
            <a href="/{$aLanguage.alias}/shop/1/">{$aPhrases['Shops']}</a>
            <a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a>
        </div>
        <div class="col-sm-2 col-md-1 col-lg-2"></div>
        <div class="hidden-sm col-md-2 col-lg-2"><span class="clock black"><span class="city">{$aPhrases['London']}</span></span>&nbsp;&nbsp;<span class="clock black"><span class="city">{$aPhrases['Paris']}</span></span><!--<img src="/design/pic/clock-gap-1_black.png" />&nbsp;&nbsp;<img src="/design/pic/clock-gap-2_black.png" />--></div>
        <div class="col-sm-3 col-md-2 col-lg-3 personal-links text-right">
            {if $aAccount.account_id}<a href="/{$aLanguage.alias}/account/profile/" class="profile">{$aAccount.fname}</a>&nbsp;<a href="/{$aLanguage.alias}/account/cart/70/" class="profile">Корзина</a>&nbsp;<span class="sep"></span>&nbsp;<a href="/{$aLanguage.alias}/account/logout/" class="profile">{$aPhrases['Logout']}</a>{else}<a href="#" class="registration-init">{$aPhrases['Register']}</a>&nbsp;<span class="sep"></span>&nbsp;<a href="#" class="login-init">{$aPhrases['Login']}</a>{/if}
            <div class="visible-sm">
                <a href="#" class="menu-activator"><img src="/design/pic/small-menu-icon_black.png" /></a>
                <a href="#" class="close-menu">
                    <img class="hover" src="/design/pic/menu-close-icon.png" />
                    <img src="/design/pic/menu-close-icon_black.png" />
                </a>
            </div>
        </div>
    </div>
    {/if}
</div>
{/if}

{include file=$sTplName}


<div class="container footer">
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-4">
            <div class="footer-logo"><a href="#"><img src="/design/pic/logo.png" /></a></div>
            <div>{$aPhrases['Copyright']}</div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-4">
            <div class="section-title">{$aPhrases['Information']}</div>
            <ul>
                <li><a href="/{$aLanguage.alias}/page/how/">{$aPhrases['How it works']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/faq/">{$aPhrases['FAQ']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/terms/">{$aPhrases['Terms of use']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/contacts/">{$aPhrases['Contacts']}</a></li>
                <li><a href="/{$aLanguage.alias}/page/partners/">{$aPhrases['Partners']}</a><li>
                <li>
                {foreach from=$aLanguages item=aItem}
                <a href="/{$aItem.alias}{$REQUEST_URI}" {if $aItem.alias==$aLanguage.alias}style="font-size: 18px;"{/if} class="user-zone-link sign-in-link"><span>{$aItem.title}</span></a><br>
                {/foreach}<li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-4">
            <div class="section-title">{$aPhrases['Social networks']}</div>
            <ul>
                <li><a href="https://www.facebook.com/libereyeinc"><img src="/design/pic/sn_icon_fb.png" />&nbsp;Facebook</a></li>
                <li><a href="https://twitter.com/LiberEye"><img src="/design/pic/sn_icon_tw.png" />&nbsp;Twitter</a></li>
                <li><a href="https://plus.google.com/u/2/107563083501217320391/about"><img src="/design/pic/sn_icon_gp.png" />&nbsp;Google+</a></li>
                <li><a href="https://instagram.com/libereye_inc/"><img src="/design/pic/sn_icon_inst.png" />&nbsp;Instagram</a></li>
                <li><a href="http://vk.com/libereyeinc"><img src="/design/pic/sn_icon_vk.png" />&nbsp;Vkontakte</a></li>
                <li><a href="https://www.linkedin.com/company/libereye"><img src="/design/pic/sn_icon_lin.png" />&nbsp;LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container footer-bottom">
    <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-6 copyright">
            {$aPhrases['All Rights Reserved']}
        </div>
        <div class="col-sm-3 col-md-5 col-lg-6 text-right">
            <a href="/admin/">{$aPhrases['Sign up using']}</a>
        </div>
    </div>
</div>


{literal}
<script id="login-form" type="text/x-jquery-tmpl">
        <form class="login-form" action="" method="post">

        </form>
</script>
<script id="registration-form" type="text/x-jquery-tmpl">
        {/literal}
        <form action="" id="registration" method="post">
            <div>{$aPhrases['Sign up using']} <a href="#" onclick="return fbQuery('register');">Facebook</a>, <a href="#" onclick="return vkQuery('register');">VK</a> {$aPhrases['or']} <a href="#" onclick="return googleQuery('register');">Google</a>.</div>
            <div class="or"><span>или</span></div>
            <div class="inputs">
                <div class="input">
                    <label for="inName">{$aPhrases['Name']}</label>
                    <input id="inName" type="text" name="name" value=""  />
                </div>
                <div class="input">
                    <label for="inEmail">Email</label>
                    <input id="inEmail" type="text" name="email" value=""  />
                </div>
                <div class="input">
                    <label for="inPass">{$aPhrases['Password']}</label>
                    <input id="inPass" type="password" name="password" value=""  />
                </div>
                <div class="input">
                    <label for="inPassA">{$aPhrases['Repeat password']}</label>
                    <input id="inPassA" type="password" name="password-check" value=""  />
                </div>
                <div class="overlay-subtitle">{$aPhrases['Birthday']}</div>
                <div class="input">
                    <label for="inMonth">{$aPhrases['Month']}</label>
                    <div class="select">
                        <select id="inMonth" name="bmonth">
                            <option value="00"></option>
                            <option value="01">январь</option>
                            <option value="02">февраль</option>
                            <option value="03">март</option>
                            <option value="04">апрель</option>
                            <option value="05">май</option>
                            <option value="06">июнь</option>
                            <option value="07">июль</option>
                            <option value="08">август</option>
                            <option value="09">сентябрь</option>
                            <option value="10">октябрь</option>
                            <option value="11">ноябрь</option>
                            <option value="12">декабрь</option>
                        </select>
                    </div>
                </div>
                <div class="input">
                    <label for="inDay">{$aPhrases['Day']}</label>
                    <div class="select day-select">
                        <select id="inDay" name="bday">
                            <option value="00"></option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>
                    <label for="inYear">{$aPhrases['Year']}</label>
                    <div class="select year-select">
                        <select id="inYear" name="byear">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="error-block"></div>
            <div class="overlay-submit"><input type="submit" name="sub" value="{$aPhrases['Sign up']}" /></div>
            <div class="overlay-line"></div>
            <div class="text-center">Вы уже на LiberEye? <a href="#" class="overlay-login-href">Войти</a>
            {literal}
        </form>
</script>
<script id="login-init" type="text/x-jquery-tmpl">
        <form action="" method="post" id="login">
            <div class="overlay-title">Войти</div>
            <br/>
            <div class="overlay-buttons login">
                <a href="#" class="btn btn-fb btn-overlay" onclick="return fbQuery('login');"><span></span>&nbsp;<i>Войти через Facebook</i></a>
                <a href="#" class="btn btn-vk btn-green-white btn-overlay" onclick="return vkQuery('login');"><span></span>&nbsp;<i>Войти через Вконтакте</i></a>
                <a href="#" class="btn btn-g btn-green-white btn-overlay" onclick="return googleQuery('login');"><span></span>&nbsp;<i>Войти через Google</i></a>
            </div>
            <div class="or or-short"><span>или</span></div>
            <div class="inputs">
                    <div class="input">
                        <label for="inEmail">Email</label>
                        <input id="inEmail" type="text" name="email" value=""  />
                    </div>
                    <div class="input">
                        <label for="inPass">Пароль</label>
                        <input id="inPass" type="password" name="password" value=""  />
                    </div>
                    <a href="#" class="overlay-forget-link">Забыли пароль?</a>
                    <input type="checkbox" name="remember" value="1" id="inRemember" />&nbsp;<label for="inRemember">Запомнить меня</label>
            </div>
            <div class="error-block"></div>
            <div class="overlay-submit"><input type="submit" name="sub" value="Войти" /></div>
            <div class="overlay-line"></div>
            <div class="text-center">Вы еще не зарегистрированы на LiberEye? <a href="#" class="overlay-login-href">Регистрация</a>
        </form>
</script>
<script id="registration-init" type="text/x-jquery-tmpl">
        <div class="overlay-title">Зарегистрируйтесь</div>
        <div>и посетите самые крупные универмаги мира.</div>
        <br/>
        <div class="error-block" style="display:none;"></div>
        <div class="overlay-buttons">
            <a href="#" class="btn btn-fb btn-overlay" onclick="return fbQuery('register');"><span></span>&nbsp;Зарегистрироваться<br/>с помощью Facebook</a>
            <a href="#" class="btn btn-vk btn-green-white btn-overlay" onclick="return vkQuery('register');"><span></span>&nbsp;Зарегистрироваться<br/>с помощью Вконтакте</a>
            <a href="#" class="btn btn-g btn-green-white btn-overlay" onclick="return googleQuery('register');"><span></span>&nbsp;Зарегистрироваться<br/>с помощью Google</a>
        </div>
        <div class="or or-short"><span>или</span></div>
        <div class="email-registration-block"><a href="#" id="email-registration">Регистрация через E-mail</a></div>
        <div class="overlay-line"></div>
        <div class="text-center">Вы уже на LiberEye? <a href="#" class="overlay-login-href">Войти</a>
</script>
<script id="registration-success" type="text/x-jquery-tmpl">
        <div class="registration-success">
            <span>Ура!</span>
            Мы выслали на <strong>${email}</strong> письмо с дальнейшими инструкциями.
        </div>
</script>
{/literal}
</body>
</html>