.department-list ul li:first-letter { text-transform:uppercase; }
.error-block {
    color: #d02222;
    font-size: 13px;
    margin: 10px 0;
}
.success-block {
    color: #22d022;
    font-size: 13px;
    margin: 10px 0;
}