@import url("../fonts/lato/lato.css");
@import url("../fonts/playfair/playfair.css");
@import url("./vendor/select2.custom.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*transition: width 0.5s, height 0.5s, margin 0.3s;*/
}
body {
    font: 400 16px 'Lato', sans-serif;
    line-height: 24px;
    letter-spacing: .1px;
}
img {
    vertical-align: middle;
}
.container {
    width: 100%;
    min-width: 600px;
    padding: 0 3.9%;
    position: relative;
}

.container-no-padding {
    padding: 0;
}

.header {
    position: absolute;
    top: 0;
    padding-top: 45px !important;
    line-height: 28px;
    white-space: nowrap;
    z-index: 120;
}
.header .logo {
    vertical-align: middle;
}
.header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
    vertical-align: middle;
    transition: border 0.3s, background 0.3s;
}
.header a:hover, .header a:active {
    border-bottom: 2px solid #fff;
    transition: border 0.3s, background 0.3s;
}
.header .logo a:hover, .header .logo a:active {
    border-bottom: none;
}
.header .personal-links a {
    margin: 0;
    padding: 10px 14px;
    border-radius: 25px;
}
.header .personal-links a:hover, .header .personal-links a:active {
    background: #000;
    /*border: 1px solid #000;*/
    border: none;
    padding: 10px 14px;
    color: #fff;
}
.header .personal-links a.menu-activator {
    vertical-align: middle;
    display: inline-block;
    height: 37px;
}
.header .personal-links a.menu-activator img {
    vertical-align: top;
}
.header .personal-links a.close-menu {
    display: none;
    vertical-align: middle;
}
.header .personal-links a.close-menu:hover img {
    display: none;
}
.header .personal-links a.close-menu:hover img.hover {
    display: inline-block;
}
.header .personal-links a.close-menu img {
    vertical-align: middle;
}
.header .personal-links a.close-menu img.hover {
    display: none;
}
.header .personal-links span.sep {
    opacity: .30;
    background: #fff;
    display: inline-block;
    width: 1px;
    height: 36px;
    vertical-align: middle;
}
.header .personal-links .icon-links {
    display: inline-block;
}
.header .personal-links .icon-links a {
    padding: 10px 3px;
}
.header .personal-links .icon-links a img {
    vertical-align: middle;
}
.header .personal-links .icon-links a span {
    position: relative;
    top: -13px;
    left: 30px;
    color: #22b46a;
    font-size: 13px;
}
.header .personal-links .icon-links a:hover {
    background: none;
    /*border: 1px solid #000;*/
    border: none;
    padding: 10px 3px;
    color: #fff;
}
.header .personal-links .login-name {
    font-size: 13px;
    vertical-align: middle;
}
.header-gap {
    height: 716px;
}

#slider-container {
    top: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 696px;
}

#slider-container .slider-gradient-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}
#slider-container .slides {
    position: relative;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    z-index: 100;
    margin: 0;
    padding: 0;

    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.2+0,0+23,0+77,0.2+100 */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 23%, rgba(0,0,0,0) 77%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=1 ); /* IE6-9 */
}
#slider-container .slides .slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}
#slider-container .slides .slide:after {
    content: '';
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.2+0,0+23,0+58,0.2+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 23%, rgba(0,0,0,0) 58%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0) 58%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 23%,rgba(0,0,0,0) 58%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
#slider-container .slides .slide .slide-info {
    position: absolute;
    bottom: 66px;
    padding: 0 3.9%;
    width: 100%;
    color: #fff;
    z-index: 2;
}
#slider-container .slides .slide .slide-info .info-title {
    font: 400 51px "Playfair Display", serif;
    text-shadow: 1px 1px 8px rgba(0,0,0,.15);
    line-height: 60px;
    margin-bottom: 25px;
}
#slider-container .slides .slide .slide-info .info-text {
    overflow: hidden;
    height: 100px;
    max-width: 480px;
    text-shadow: 1px 1px 8px rgba(0,0,0,.15);
}
#slider-container .slides .slide .slide-info .links a:first-child {
    margin-right: 35px;
    margin-bottom: 35px;
}
#slider-container .slides .slide .slide-info .links {
    margin-top: 50px;
}
#pager {
    position: absolute;
    z-index: 110;
    width: 50%;
    right: 7%;
    bottom: 82px;
}
#pages {
    position: absolute;
    list-style: none;
    right:0;
    margin: 0;
    padding: 0;
}
#pages span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin: 0 7px;
    padding: 0;
    position: relative;
    text-align:center;
    background: url("/design/pic/slider_pages.png") no-repeat scroll 50% 100% transparent;
    font: bold 5pt/normal Arial;
    text-indent: -1000em;
    outline: none;
    color: #999;
}
#pages span:hover {
    cursor: pointer;
}
#pages span.cycle-pager-active {
    background: url("/design/pic/slider_pages.png") no-repeat scroll 50% 0 transparent;
}

.btn {
    color: #fff;
    font: 700 16px "Lato", sans-serif;
    text-decoration: none;
    padding: 19px 25px 21px 25px;
    border-radius: 40px;
    display: inline-block;
    box-shadow: 4px 3px 10px rgba(0,0,0,.15);
    width: 190px;
    text-align: center;
    white-space: nowrap;
}
.btn.btn-green {
    border: 1px solid #22b46a;
    background: #22b46a;
}
.btn.btn-white {
    border: 1px solid #fff;
    background: transparent;
}
.btn.btn-green-white {
    border: 1px solid #22b46a;
    background: #fff;
    color: #22b46a;
}
.btn.btn-black {
    border: 1px solid #000;
    background: #000;
}

.btn.btn-green:hover {
    border: 1px solid transparent;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1bab62+0,169c58+100 */
    background: rgb(27,171,98); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(27,171,98,1) 0%, rgba(22,156,88,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(27,171,98,1) 0%,rgba(22,156,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(27,171,98,1) 0%,rgba(22,156,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bab62', endColorstr='#169c58',GradientType=0 ); /* IE6-9 */
}
.btn.btn-white:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #22b46a;
}
.btn.btn-green-white:hover {
    border: 1px solid #22b46a;
    background: #22b46a;
    color: #fff;
}
.btn.btn-green:hover,
.btn.btn-white:hover,
.btn.btn-green-white:hover {
    cursor: pointer;
}
.btn.btn-green:active, .btn.btn-white:active, .btn.btn-green-white:active {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.btn.btn-overlay {
    padding: 10px 25px 10px 25px;
    width: 100%;
    position: relative;
    color: #22b46a;
}
.btn.btn-overlay:hover {
    text-decoration: none;
}
.btn.btn-overlay span {
    display: inline-block;
    width: 25px;
    height: 39px;
    float: left;
}
.login .btn.btn-overlay span {
    height: 25px !important;
}
.login .btn.btn-overlay i {
    line-height: 24px;
    font-style: normal;
}
.btn.btn-fb {
    background: #3765a3;
    border-color: #3765a3;
    color: #fff;
}
.btn.btn-fb span {
    background: url('/design/pic/ov_fb_icon.png') no-repeat 0 50%;
}
.btn.btn-vk span {
    background: url('/design/pic/ov_vk_icon.png') no-repeat 0 50%;
}
.btn.btn-g span {
    background: url('/design/pic/ov_google_icon.png') no-repeat 0 50%;
}
.btn .label {
    float: right;
    display: inline-block;
    height: 100%;
    padding: 15px;
    vertical-align: middle;
    margin: -15px 10px -15px 0;
    border-radius: 30px;
    background: #fff;
    color: #22b46a;
    font-style: normal;
}

h1 {
    font: 800 16px 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 145px;
    letter-spacing: 2px;
}
h2 {
    font: 800 14px 'Lato', sans-serif;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 2px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.news-list img {
    width: 100%;
}
.news-list .news-title {
    margin-bottom: 0;
    position: relative;
    line-height: 24px;
}
.news-list .news-title a {
    font: 800 16px "Lato", sans-serif;
    color: #000;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 18px;
    transition: transform 0.7s;
}
.news-list .news-title a span.img {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    max-height: 255px;
}
.news-list .news-title a img {
    transition: transform 1s;
}
.news-list .news-title a:hover {
    color: #22b46a;
}
.news-list .news-title a:hover img {
    transform: scale(1.2);
}
.news-list .news-title a span.img:before {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    z-index: 1;
    left: 0;
    top: 0;
}
.news-list .news-title a:hover span.img:before {
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    transition: all 1s;
    z-index: 1;
    left: 0;
    top: 0;
}
.news-list .news-title a span.img:after {
    content: '';
    background: url('/design/pic/eye.png') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    z-index: 2;
    left: 0;
    top: 0;
}
.news-list .news-title a:hover span.img:after {
    content: '';
    background: url('/design/pic/eye.png') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    transition: all 1s;
    z-index: 2;
    left: 0;
    top: 0;
}

a.more-news {
    color: #b2b2b2;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid #c5c5c5;
    line-height: 130px;
    letter-spacing: 2px;
    text-decoration: none;
}
a.more-news:hover {
    color: #22b46a;
    border-bottom: 1px solid #22b46a;
}

div.footer {
    background: #000;
    color: #808080;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 90px;
}

div.footer .footer-logo {
    margin-bottom: 15px;
}
div.footer .section-title {
    color: #fff;
    padding-bottom: 15px;
    line-height: 31px;
}
div.footer > .row:first-child > div {
    margin-top: 60px;
}
div.footer ul {
    list-style: none;
}
div.footer ul li {
    margin-bottom: 7px;
    width: 100%;
    display: inline-block;
}
div.footer ul li a {
    text-decoration: none;
    color: #808080;
    vertical-align: middle;
}
div.footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}
div.footer ul li a img {
    vertical-align: middle;
}
div.footer-bottom {
    border-top: 1px solid rgba(255,255,255,.1);
    line-height: 54px;
    font-size: 12px;
    background: #000;
}
div.footer-bottom div.copyright {
    opacity: .29;
    color: #fff;
}
div.footer-bottom div a {
    color: #fff;
    opacity: .29;
    text-decoration: none;
}
div.footer-bottom div a:hover {
    opacity: 1;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.75);
    z-index: 121;
    opacity: 0;
}
.modal-open {
    overflow: hidden;
}
.overlay-menu {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
}
.overlay-menu a {
    text-decoration: none;
    color: #fff;
    font: 400 51px 'Playfair Display', 'Times New Roman', serif;
    display: inline-block;
}
.overlay-menu div.overlay-link-wrap {
    white-space: nowrap;
    margin: 0 auto 20px;
    text-align: center;
    position: relative;
}
.overlay-menu div.overlay-link-wrap span {
    display: block;
    opacity: 0;
    border-bottom: 1px solid #fff;
}

.pie-wrap {
    position: relative;
    display: inline-block;
}
.pie-wrap .pie-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 60px;
    font: 400 38px/58px 'Playfair Display', serif;
    text-align: center;
    color: #22b46a;
    cursor: pointer;
}
.pie-wrap .peity {
    /*border: 1px solid #2eb872;*/
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.15);
    /*shape-rendering: geometricPrecision;*/
}
.pie-wrap:hover .peity circle, .pie-wrap:hover .peity path {
    fill: #2eb872;
    transition: fill 0.4s;
}
.pie-wrap.filled .peity {
    box-shadow: none;
}
.pie-wrap.filled .peity circle {
    fill: #e6e6e6;
}
.pie-wrap.filled:hover .peity circle {
    fill: #e6e6e6;
}
.pie-wrap.filled:hover .pie-text {
    cursor: default;
}
.pie-wrap:hover .pie-text {
    color: #fff;
}

.tabs-container .tabs-controls {
    border-bottom: 1px solid #c5c5c5;
    height: 137px;
}
.tabs-container .tabs-controls .tab-control {
    height: 100%;
    float: left;
    width: 120px;
    text-align: center;
    position: relative;
    top: 1px;
    text-decoration: none;
    padding-top: 13px;
    color: #000;
    font: 400 13px/18px 'Lato', sans-serif;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.tabs-container .tabs-controls .tab-control.active {
    border: 1px solid #c5c5c5;
    border-bottom: 1px solid #fff;
    border-radius: 10px 10px 0 0;
}
.tabs-container .tabs {
    padding-top: 35px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    margin: 0 3.9%;

    /*background-color: #FFDCDC;*/
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    /*display: none;*/
}
.overlay .overlay-content {
    z-index: 501;
    position: absolute;
    width: 427px;
    left: 50%;
    margin-left: -213px;
    background: #fff;
    border-radius: 15px;
    padding: 42px 42px 35px;
    top: 50%;
}
.overlay .overlay-fade {
    background: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
}
.overlay-content .overlay-close {
    position: absolute;
    width: 13px;
    height: 12px;
    background: url('/design/pic/overlay-close.png');
    right: 24px;
    top: 24px;
}
.overlay-content .overlay-title {
    font: 800 16px/24px 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
}
.overlay-content .overlay-subtitle {
    font: 800 16px/48px 'Lato', sans-serif;
    color: #000;
}
.overlay-content {
    color: #666;
    font-size: 16px;
}
.overlay-content a {
    color: #22b46a;
    text-decoration: none;
}
.overlay-content a:hover {
    text-decoration: underline;
}
.overlay-content .email-registration-block {
    text-align: center;
}
.overlay-content .email-registration-block a {
    color: #22b46a;
    text-decoration: none;
    background: url('/design/pic/overlay-email-reg-icon.png') no-repeat 0 50%;
    padding-left: 20px;
}
.overlay-content .email-registration-block a:hover {
    text-decoration: underline;
}
.overlay-content .overlay-buttons .btn {
    margin-bottom: 12px;
    line-height: 18px;
    font-size: 16px;
}
.overlay-content .overlay-line {
    margin: 30px -42px;
    height: 1px;
    border-top: 1px solid #c5c5c5;
}
.overlay-content .overlay-login-href {
    font-weight: 800;
    text-decoration: none;
}
.overlay-content .overlay-login-href:hover {
    text-decoration: underline;
}
.form-standart:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}
.form-standart .input {
    margin-bottom: 15px;
    position: relative;
    white-space: nowrap;
}
.form-standart .input:after {
    content: '';
    display: table;
    clear: both;
}
.form-standart .input label {
    color: #000;
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 5px;
    vertical-align: middle;
}
.form-standart .input input {
    color: #000;
    border: none;
    border-bottom: 1px dotted #000;
    padding: 7px;
    width: 90%;
    vertical-align: middle;
    background: transparent;
}
.form-standart .input input:hover,
.form-standart .input input:focus {
    border-bottom: 1px dotted #27a865;
}
.overlay-content .input input {
    width: 250px;
}
.form-standart .input .select {
    color: #000;
    border: none;
    border-bottom: 1px dotted #000;
    width: 90%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    background: url('/design/pic/select_button.png') no-repeat 97% 50%;
}
.form-standart .input input:hover,
.form-standart .input input:focus,
.form-standart .input .select:hover,
.form-standart .input .select:focus {
    border-bottom: 1px dotted #27a865;
}
.overlay-content .input .select {
    width: 250px;
}
.form-standart .input .select select {
    background: transparent;
    width: 100%;
    padding: 10px 7px 7px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.form-standart .input .select.day-select {
    width: 70px;
}
.form-standart .input .select.year-select {
    width: 87px;
}
.form-standart .input input:focus {
    outline: none;
}
.form-standart .input .input-error {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    padding: 15px;
    z-index: 100;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
    font-size: 13px;
    max-width: 200px;
}
.form-standart .input .input-error:after {
    content: "";
    position: absolute;
    top: -13px;
    left: 74%;
    border-width: 0 10px 13px;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}
.form-standart .input.failed {
    background: url('/design/pic/form-input-failed.jpg') no-repeat 97% 50%;
}
.form-standart .input.failed input, .form-standart .input.failed {
    cursor: pointer;
}
.form-standart .input.failed:hover .input-error {
    display: block;
}
.form-standart .input.success {
    background: url('/design/pic/form-input-success.jpg') no-repeat 97% 50%;
}
.form-standart .input.failed input {
    border-bottom: 1px dotted #d02222;
}
.form-standart .input.success input {
    border-bottom: 1px dotted #27a865;
}
.form-standart .cancel-link {
    text-decoration: none;
    color: #22b46a;
    line-height: 71px;
    display: inline-block;
    width: 150px;
    text-align: center;
}
.form-standart .cancel-link:hover {
    text-decoration: underline;
}
.form-standart .inputs {
    margin-bottom: 30px;
}
.form-standart .inputs-bday {
    width: 48%;
    margin: 0 2% 0 0;
    display: inline-block;
}
.form-standart .inputs-bday:nth-child(2) {
    margin: 0 0 0 2%;
}
.form-standart .inputs-bday:nth-child(3) {
    margin: 0 2% 0 0;
    display: block;
}
.form-standart .inputs .cols-1-2 {
    width: 100%;
    float: left;
}
.form-standart .inputs .cols-2 {
    width: 48%;
    float: left;
    margin: 0 2% 0 0;
}
.form-standart .inputs .cols-2:nth-child(even) {
    margin: 0 2% 0 0;
}
.form-standart .inputs .cols-2:nth-child(odd) {
    margin: 0 0 0 2%;
}
.form-standart .inputs .cols-2 input,
.form-standart .inputs .cols-2 .select {
    width: 80%;
}
.form-standart .inputs .inputs-bday input,
.form-standart .inputs .inputs-bday .select {
    width: 81%;
}
.form-standart .inputs:after {
    content: '';
    width: 100%;
    display: table;
    clear: both;
}
.overlay-content .error-block {
    color:#d02222;
    font-size: 13px;
    margin: 10px 0;
}
.overlay-content .overlay-submit input {
    width: 100%;
    border-radius: 25px;
    background: #27a865;
    color: #fff;
    border: none;
    padding: 11px 0;
    font: 800 16px 'Lato', sans-serif;
    margin-top: 10px;
}
.overlay-content .overlay-submit input:hover {
    cursor: pointer;
}
.overlay-content .overlay-forget-link {
    color: #27a865;
    font-size: 13px;
    float: right;
    position: relative;
    top: 1px;
}
/*#registration .select,*/
#registration input[type="text"],
#registration input[type="password"],
#login input[type="text"],
#login input[type="password"] {
    width: 73%;
}
.or {
    /*width: 100%;*/
    height: 1px;
    border-top: 1px solid #c5c5c5;
    text-align: center;
    margin: 20px -42px 30px;
}
.or span {
    background: #fff;
    position: relative;
    top: -25px;
    font: 800 16px/48px 'Lato', sans-serif;
    color: #000;
    padding: 0 21px;
}
.or-short {
    width: 185px;
    margin: 20px auto 30px;
}

.col-sm-1 { width: 8.866%; }
.col-sm-2 { width: 25.532%; }
.col-sm-3 { width: 42.198%; }
.col-sm-4 { width: 58.864%; }
.col-sm-5 { width: 75.53%; }
.col-sm-6 { width: 92.196%; }

.visible-sm {
    display: initial;
}

@media (min-width: 950px) {
    #slider-container {
        height: 778px;
    }
    #slider-container .slides .slide .slide-info .links a:first-child {
        margin-bottom: 0;
    }
    .header a {
        font-size: 14px;
    }
    .header-gap {
        height: 798px;
    }
    .main .btn {
        width: 235px;
        padding: 24px 40px 26px 40px;
    }
    .container {
        padding: 0 2.9%;
    }
    .container-no-padding {
        padding: 0;
    }
    .row {
        margin: 0 2.9%;
    }
    [class*='col-'] {
        margin: 0 2.9%;
    }
    .col-md-1 { width: 5.311%; }
    .col-md-2 { width: 16.424%; }
    .col-md-3 { width: 27.525%; }
    .col-md-4 { width: 38.644%; }
    .col-md-5 { width: 49.755%; }
    .col-md-6 { width: 60.864%; }
    .col-md-7 { width: 71.977%; }
    .col-md-8 { width: 83.088%; }
    .col-md-9 { width: 94.2%; }

    .news-list .news-img {
        margin-bottom: 30px;
    }

    .visible-sm {
        display: none !important;
    }
    .form-standart .inputs-bday {
        width: 30%;
        margin: 0 2% 0 0;
    }
    .form-standart .inputs-bday:nth-child(2) {
        margin: 0 1% 0 1%;
    }
    .form-standart .inputs-bday:nth-child(3) {
        margin: 0 0 0 2%;
        display: inline-block;
    }
    .form-standart .inputs-bday input, .form-standart .inputs-bday .select {
        width: 65%;
    }
    .form-standart .inputs .cols-1-2 {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    .form-standart .inputs .cols-1-2 ~ .cols-1-2 {
        margin: 0 0 0 2%
    }
    .form-standart .inputs .cols-2:nth-child(even) {
        margin: 0 0 0 2%;
    }
    .form-standart .inputs .cols-2:nth-child(odd) {
        margin: 0 2% 0 0;
    }
    .form-standart .inputs .cols-2 input {
        width: 82%;
    }
    .form-standart .input input,
    .form-standart .input .select {
        width: 82%;
    }
}

@media (min-width: 1100px) {
    body {
        font: 400 17px 'Lato', sans-serif;
        line-height: 24px;
        letter-spacing: .1px;
    }
    #slider-container {
        height: 780px;
    }
    #slider-container .slides .slide .slide-info .links a:first-child {
        margin-bottom: 0;
    }
    #slider-container .slides .slide .slide-info .info-title {
        font: 400 51px "Playfair Display", serif;
    }
    div.footer ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

    }
    .btn {
        font-size: 17px;
    }
    .header-gap {
        height: 800px;
    }
    .container {
        padding: 0 2.5%;
    }
    .container-no-padding {
        padding: 0;
    }
    .row {
        margin: 0 2.5%;
    }
    [class*='col-'] {
        margin: 0 2.5%;
    }
    .col-lg-1 { width: 3.333%; }
    .col-lg-2 { width: 11.666%; }
    .col-lg-3 { width: 19.999%; }
    .col-lg-4 { width: 28.332%; }
    .col-lg-5 { width: 36.665%; }
    .col-lg-6 { width: 44.998%; }
    .col-lg-7 { width: 53.331%; }
    .col-lg-8 { width: 61.664%; }
    .col-lg-9 { width: 69.997%; }
    .col-lg-10 { width: 78.33%; }
    .col-lg-11 { width: 86.663%; }
    .col-lg-12 { width: 94.996%; }

    .visible-sm {
        display: none !important;
    }

    .form-standart .cancel-link {
        width: 190px;
    }
    .form-standart .inputs-bday {
        width: 47%;
        margin: 0 2% 0 0;
    }
    .form-standart .inputs-bday:nth-child(2) {
        margin: 0 0 0 2%;
    }
    .form-standart .inputs-bday:nth-child(3) {
        margin: 0;
        display: block;
    }
    .form-standart .inputs .inputs-bday input,
    .form-standart .inputs .inputs-bday .select {
        width: 84%;
    }
    .form-standart .inputs .cols-1-2 {
        width: 48%;
        margin-right: 2%;
    }
    .form-standart .inputs .cols-1-2 ~ .cols-1-2 {
        margin: 0 0 0 2%
    }
    .form-standart .inputs .cols-2:nth-child(even) {
        margin: 0 0 0 2%;
    }
    .form-standart .inputs .cols-2:nth-child(odd) {
        margin: 0 2% 0 0;
    }
}

@media (max-width: 949px) {
    .hidden-sm {
        display: none !important;
    }
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18px;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #dde;
    position: relative;
    width: 100%;
    background: rgba(0,0,0,.25);
}

.jspDrag
{
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;

}
.jspHorizontalBar .jspDrag {
    border-top: 1px solid #f2f2f2;
    border-radius: 5px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,c0c0c0+100 */
    background: rgb(232,232,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(192,192,192,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(192,192,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(192,192,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */

    /*background-image: url('/design/pic/slider_grip.png');*/
    background-repeat: no-repeat;
    height: 16px;
    margin-top: 1px;
}
.jspVerticalBar .jspTrack {
    background: none;
    box-sizing: border-box;
}
.jspVerticalBar .jspDrag {
    background: #c5c5c5;
    width: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.jspDragRight {
    height: 100%;
    background: url('/design/pic/slider_grip.png') no-repeat 50% 50%;
}
.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 13px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: -4px;
    width: 21px; height: 21px;
    border: 1px solid #c5c5c5;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.15)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: url('/design/pic/checkbox_mark.jpg');
    position: absolute;
    top: 0; left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #4778d9!important;
}

/* Payment radios */
/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 13px;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: -4px;
    width: 21px; height: 21px;
    border: 1px solid #c5c5c5;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.15)
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    display: block;
    background: #000;
    border-radius: 50%;
    top: 2px; left: 6px;
    font-size: 18px;
    line-height: 0.8;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}
