.booking .column-header {
    background-color: #eaeaea;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    text-align: center;
    height: 48px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.booking .book {
    background-color: #3ec650;
    -webkit-border-radius: 2px ;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;color:#fff;
}
.booking .book.free {
   cursor: arrow;cursor: pointer; cursor: hand;
}
.booking .book.busy {
    background-color: #710909; color:#fff;
}
.booking .book.own {
    background-color: #e78f08;color:#fff;
}
.booking .book.own span{
    cursor: pointer; cursor: hand;
    font-size: 10px;
    float: right;
    display: block;
    margin-right: 5px;
}
.booking .book.own a{
    font-size: 12px;
    float: left;
    display: block;
    margin-left: 5px;
    color:#fff;
}
.booking .book.old {
    background-color: #7d7d7d;
}
.booking .book.dinner {
    background-color: #c6c6c6;
}
.booking .book span.desc {
    cursor: auto;
    float: inherit;
    text-align: left;
    padding: 0 5px;
}
.booking .book span.client {
    cursor: auto;
    float: inherit;
    text-align: left;
    padding: 0 5px;
    font-size: 12px;
}

.page-container  table.booking:not(.ya-partner__list) td {
    padding-right: 10px;
}

.purchases .column-header td {
    background-color: #eaeaea;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    text-align: center;
    height: 48px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
}

.profile-header .profile-data textarea {
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    position: relative;
    background: #fcfcfc;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #ccc;
    color: #2f3235;
    line-height: 1;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: border ease 0.5s;
    -moz-transition: border ease 0.5s;
    -o-transition: border ease 0.5s;
    transition: border ease 0.5s;
    min-width: 260px;
    line-height: 30px;
    height: 100px;
}


.gallery {display: block;width: 110px;float: left;margin:3px;text-align:center;border:1px solid #999;}
.gallery img{padding:2px;width: auto;  height: 100px;}
.gallery a.img {display: block;  overflow: hidden;}


.slider { overflow: hidden; width: 100%; height: 800px; padding:0 0 0 0;margin:0 0 30px;}
.slider ul {
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
    padding-start:0; -webkit-padding-start: 0px !important;
}
.slider li { list-style: none;  height: 800px; padding:0;margin:0;}
.slider ul li { float: left;  height: 800px; padding:0;margin:0;}